body {
  color: #000000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 3px;

  transition: color 0.2s ease;
}

button:focus {
  outline: none;
}

a:focus {
  outline: 2px solid #ff9900;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
textarea {
  outline: none;
}

strong {
  display: block;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.btn {
  padding: 25px 38px;
  background: #ff9900;
  border: none;
  border-radius: 16px;

  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  text-align: center;

  color: #ffffff;

  cursor: pointer;
  pointer-events: auto;

  transition: background 0.2s ease;
}

.btn:hover {
  background: #ffb84d;
}

.btn:focus {
  background: #ffb84d;
}

.btn:active {
  background: #e1670e;
}

.section-h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}

/* Header */
.header {
  margin-bottom: 50px;

  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;

  min-height: 95px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 7px 0;
}

.header-nav-burger {
  display: none;
}

.header__nav {
  width: 58%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 80px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;

  color: #000;
}

.nav__link:hover {
  border-bottom: 2px solid #ff9900;
}

.nav__link:active {
  outline: none;
  color: #e1670e;
  border-bottom: 2px solid #e1670e;
}

.header__search-icon {
  padding-bottom: 1px;
  padding-top: 10px;
}

.header__search:hover .header__search-icon path {
  stroke: #ff9900;
}

.header__search:hover .header__search-icon rect {
  fill: #ff9900;
}

/* Slider */

.slider {
  margin-bottom: 50px;
}

.slider-container {
  position: relative;
  max-width: 1770px;
}

.slider__content {
  min-height: 620px;
  max-width: 1770px;
}

.slider__wrapper {
  min-height: inherit;
}

.slider__swiper {
  position: absolute;
  min-height: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  margin: 0 auto;
}

.slider__slide_img1 {
  background-image: url("/img/back1.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 32px;
}

.slider__slide_img2 {
  background-image: url("/img/back2.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 32px;
}

.slider__slide_img3 {
  background-image: url("/img/back3.png");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 32px;
}

.btn_round {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 10px;
}

.slider__info {
  padding: 100px 80px;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.slider__info-h1 {
  width: 60%;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;

  color: #ffffff;

  margin-bottom: 24px;
}

.slider__info-text {
  width: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;

  margin-bottom: 90px;
}

/* About us */
.about-us {
  margin-bottom: 108px;
}

.about-us__h2 {
  margin-bottom: 28px;
}

.about-us__text {
  width: 70%;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  margin-bottom: 50px;
}

.about-us__card-list {
  display: flex;
  align-items: center;
}

.card__left {
  width: 50%;
  max-width: 868px;
  min-height: 622px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: url(/img/card1.png) center center no-repeat transparent;
  background-size: cover;
  border-radius: 32px;

  margin-right: 32px;
}

.card-left__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.card-left__text {
  width: 60%;

  font-weight: 700;
  font-size: 16px;
  line-height: 32px;

  color: #ffffff;
}

.card__left-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #ffffff;

  background: none;
  border: 3px solid #ff9900;

  padding: 18px 38px;
}

.card__left-btn:hover,
.card__left-btn:focus {
  background: #ff9900;
}

.card__left-btn:active {
  background: #e1670e;
  border: 3px solid #e1670e;
}

.card__right {
  width: 50%;
}

.card-right__item {
  min-width: 870px;
  min-height: 295px;

  border: 1px solid #cacaca;
  border-radius: 32px;

  padding: 65px 110px 60px 55px;

  display: flex;
}

.card-right__item:not(:last-child) {
  margin-bottom: 32px;
}

.right-item__strong {
  display: block;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.right-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.card-right__background {
  min-width: 190px;
  min-height: 165px;

  margin-right: 50px;
}

.card-right__background-top-card {
  background: url(/img/about_us1.svg) left center no-repeat transparent;
  background-size: contain;
}

.card-right__background-bottom-card {
  background: url(/img/about_us2.svg) left center no-repeat transparent;
  background-size: contain;
}

/* how we work */
.how-we-work {
  margin-bottom: 117px;
}

.section-h2__how-we-work {
  margin-bottom: 55px;
}

.how-we-work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 26%;

  margin-bottom: 50px;
}

.how-we-work__nav-link {
  font-size: 18px;
  line-height: 22px;

  color: #000;
}

.how-we-work__nav-link-active {
  color: #ff9900;
}

.how-we-work__nav-link:hover {
  color: #ff9900;
}

.how-we-work__nav-link:active {
  color: #e1670e;
  outline: none;
}

.how-we-work__info {
  display: none;
}

.how-we-work-info-active {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info__slider-content {
  width: 50%;
}

.how-we-work__strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  margin-bottom: 8px;
}

.how-we-work__text {
  width: 85%;
  font-size: 16px;
  line-height: 32px;
}

.how-we-work-paragraphs {
  margin-bottom: 15px;
}

.how-we-work__btn-more-detailed {
  padding: 15px 38px;
  font-size: 16px;

  margin-right: 30px;
}

.how-we-work__btn-contract {
  padding: 15px 36px;

  font-weight: 400;
  font-size: 16px;
  background-color: white;
  color: #000000;

  border: 1px solid #000000;
}

.how-we-work__btn-contract:hover,
.how-we-work__btn-contract:focus {
  color: #ffffff;

  background: #666666;
  border: 1px solid #666666;
}

.how-we-work__btn-contract:active {
  color: #ffffff;

  background: #000;
}

/* Questions */
.questions {
  margin-bottom: 100px;
}

.section-h2__questions {
  margin-bottom: 35px;
}

.question__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 0;

  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;

  margin-top: -1px;
  position: relative;

  color: #000;
}

.question__link:hover,
.question__link:focus {
  z-index: 2;
  border-color: #ff9900;
  color: #ff9900;
  outline: none;
}

.question__link:hover .question__strong {
  color: #ff9900;
}

.question__link:hover .question__svg ellipse {
  fill: #ff9900;
}

.question__link:hover .question__svg path {
  fill: #fff;
}

.question__strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.question__text {
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 32px;

  color: #000000;
}

.question__svg {
  margin-right: 20px;
  margin-top: 2px;

  transition: transform 0.2s ease;
}

.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active
  .question__svg {
  transform: rotate(45deg);
}
.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active
  .question__link {
  border-bottom: none;
}

/* Footer */
.footer {
  background: #000;
}

.footer__container {
  padding: 49px 73px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer_center,
.footer__right {
  width: 33.3%;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;

  color: #cacaca;
}

.footer-nav__link:hover {
  color: #ff9900;
}

.footer-nav__link:active {
  outline: none;
  color: #e1670e;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer-social__item {
  transition: fill 0.2s ease;
}

.footer-social__item:not(:last-child) {
  margin-right: 25px;
}

.social__item-link {
  padding: 0;
}

.footer-social__item:hover .social__item-svg path {
  fill: #ff9900;
}

.footer-social__item:active .social__item-svg path {
  fill: #e1670e;
}

.social__item-link:active {
  outline: none;
}

.footer__h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;

  color: #cacaca;

  margin-bottom: 23px;
}

.footer__form {
  min-width: 570px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__item {
  margin-bottom: 25px;
}

.form-item__input {
  min-width: 570px;
  min-height: 60px;

  background: #414141;
  border: none;
  border-radius: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #cacaca;

  padding: 0 24px;
}

input[type="text"].form-item__input:hover,
input[type="text"].form-item__input:focus,
input[type="text"].form-item__input:active,
input[type="email"].form-item__input:hover,
input[type="email"].form-item__input:focus,
input[type="email"].form-item__input:active,
textarea[type="textarea"].form-item__input:hover,
textarea[type="textarea"].form-item__input:focus,
textarea[type="textarea"].form-item__input:active {
  background: #666;
}

.form-item__input-message {
  padding-top: 14px;

  min-height: 150px;
  resize: none;
}

.btn-submit {
  padding: 19px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__right {
  display: flex;
  justify-content: right;

  margin-bottom: 5px;
  margin-right: 10px;
}

.footer__text {
  width: 60%;

  font-size: 16px;
  line-height: 32px;

  color: #cacaca;
}

/* Media */
@media (max-width: 1770px) {
  .slider-container {
    margin: 0 75px;
  }
}

@media (max-width: 1500px) {
  .container {
    padding: 0 40px;
  }

  .slider-container {
    margin: 0 40px;
  }

  /* Header */

  .header__content {
    justify-content: space-between;
  }

  .header-nav__burger {
    display: block;
  }

  .nav-burger__link {
    padding-top: 14px;
  }

  .nav {
    display: none;
  }

  .header__nav {
    width: 0;
  }
  /* Slider */
  .slider {
    margin-bottom: 32px;
  }

  .slider__content {
    min-height: 667px;
  }

  .slider__info {
    padding: 160px 77px;
  }

  .slider__info-h1 {
    margin-bottom: 16px;

    width: 100%;

    font-size: 60px;
    line-height: 73px;
  }

  .slider__info-text {
    margin-bottom: 60px;

    width: 90%;

    font-size: 20px;
    line-height: 24px;
  }

  /* About us */
  .about-us {
    margin-bottom: 40px;
  }

  .about-us__text {
    margin-bottom: 60px;
    width: 100%;
  }

  .about-us__card-list {
    display: flex;
    flex-direction: column;
  }

  .about-us__card {
    margin-right: 0;
    margin-bottom: 32px;

    width: 100%;
    min-height: 640px;
    min-width: 100%;
  }

  .right-item__text {
    width: 80%;
  }

  /* How we work */
  .how-we-work {
    margin-bottom: 85px;
  }

  .how-we-work__list {
    margin-bottom: 50px;
    width: 49%;
  }

  .how-we-work-paragraphs {
    margin-bottom: 25px;
  }

  .how-we-work__text {
    width: 100%;
  }

  .how-we-work__img {
    max-width: 437px;
    min-height: 689px;

    object-fit: cover;
    border-radius: 32px;
  }

  .card-right__background {
    margin-left: 18px;
  }

  /* Questions */
  .questions {
    margin-bottom: 80px;
  }

  .section-h2__questions {
    margin-bottom: 38px;
  }

  .question__strong {
    width: 80%;

    font-size: 20px;
    line-height: 32px;
  }

  /* Footer */
  .footer {
    padding: 50px 0;
  }

  .footer__center {
    width: 61%;
  }

  .footer__h2 {
    margin-bottom: 20px;
  }

  .form-item__input {
    min-width: 541px;
  }

  .form__item:nth-child(3) {
    margin-bottom: 27px;
  }

  .footer__right {
    display: none;
  }

  .btn-submit {
    padding: 19px 38px;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    padding: 22px 0;
  }

  .header__search {
    width: 5%;
  }

  .logo__img {
    width: 150px;
    height: 48px;
  }

  .about-us__card-list {
    align-items: flex-start;
  }

  .about-us__card {
    max-width: 924px;
  }

  .card-right__item {
    max-width: 870px;
    min-width: 100%;
  }
}

@media (max-width: 960px) {
  .right-item__text {
    width: 100%;
  }

  /*Footer */
  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer__nav {
    display: none;
  }
}

@media (max-width: 900px) {
  /* 768 */
  /* Header */
  .header {
    min-height: 69px;
    margin-bottom: 40px;
  }

  .header__logo {
    width: 38%;
    padding: 11px 0;
  }

  .header__search {
    width: 6.5%;
  }

  /* Slider */
  .slider {
    margin-bottom: 35px;
  }

  .slider__content {
    min-height: 100%;
  }

  .slider__info {
    padding: 50px 30px;
  }

  .slider__info-h1 {
    width: 100%;
    font-size: 50px;
    line-height: 59px;
  }

  .slider__info-text {
    width: 95%;
    font-size: 18px;
    line-height: 22px;
  }

  /* About us */
  .about-us {
    margin-bottom: 51px;
  }

  .about-us__text {
    width: 96%;
  }

  .about-us__card-list {
    padding-right: 15px;
  }

  .about-us__card {
    max-width: 668px;

    margin-bottom: 36px;
  }

  .card__right {
    min-height: auto;
  }

  .card-left__content {
    padding: 29px 40px;
  }

  .card-left__text {
    font-size: 16px;
    line-height: 32px;
  }

  .card-right__item {
    min-height: 235px;
    min-height: auto;

    padding: 35px 40px;
  }

  .card-right__background {
    min-width: 114px;
    min-height: 99px;
    margin-right: 16px;
    margin-left: 0;
  }

  .right-item__strong {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
  }

  /* How we work */
  .how-we-work {
    margin-bottom: 49px;
  }

  .how-we-work__list {
    width: 97.7%;
  }

  .how-we-work__info {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .info__slider-content {
    width: 100%;
  }

  .how-we-work__text {
    width: 100%;
  }

  .how-we-work__img-block {
    margin-bottom: 35px;
    width: 97%;
  }

  .how-we-work__img {
    min-width: 100%;
    min-height: 284px;
    max-height: 284px;
  }

  /* Questions */
  .questions {
    margin-bottom: 114px;
  }

  .section-h2__questions {
    margin-bottom: 32px;
    line-height: 59px;
  }

  .question__strong {
    width: 85%;
  }

  /* Footer */
  .footer__container {
    padding: 0 25px;
  }

  .footer__center {
    margin-bottom: 25px;
  }

  .footer__h2 {
    margin-bottom: 25px;
  }

  .footer__left {
    padding: 0 16px;
    margin-bottom: 50px;
  }

  .footer-logo__img {
    width: 224px;
    height: 72px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 15px;

    max-width: 100%;
  }

  .slider-container {
    margin: 0 15px;
  }

  .section-h2 {
    font-size: 24px;
    line-height: 29px;
  }

  /* Header */
  .header {
    margin-bottom: 30px;
  }

  .header__logo {
    width: 47%;
    padding: 17px 0;
  }

  .logo__img {
    width: 110px;
    height: 35px;
  }

  .header__search {
    width: 9%;
  }

  /* Slider */
  .slider {
    margin-bottom: 60px;
  }

  .slider__content {
    min-height: auto;
    max-height: 308px;

    border-radius: 16px;
  }

  .slider__info {
    padding: 59px 21px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__info-h1 {
    margin-bottom: 6px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .slider__info-text {
    margin-bottom: 32px;

    width: 100%;

    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .slider__info-btn {
    padding: 13px 28px;

    font-size: 12px;
    line-height: 15px;
    text-align: center;

    border-radius: 8px;
  }

  /* About */
  .about-us {
    margin-bottom: 25px;
  }

  .about-us__card-list {
    padding-right: 0;
  }

  .about-us__h2 {
    margin-bottom: 20px;
  }

  .about-us__text {
    margin-bottom: 14px;

    width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  .card__left {
    margin-bottom: 31.5px;
    padding-top: 72%;
    min-height: 0;
    background-position: top;
    background-size: contain;

    border-radius: 16px;
  }

  .card-left__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: none;
    padding: 0;
  }

  .card-left__text {
    margin-bottom: 12px;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    color: #000000;
  }

  .card__left-btn {
    padding: 10px 42px;

    font-size: 12px;
    line-height: 15px;

    text-align: center;

    color: #ff9900;
    border: 2px solid #ff9900;
    border-radius: 8px;
  }

  .card__left-btn:hover,
  .card__left-btn:focus {
    color: #fff;
  }

  .card__left-btn:active {
    color: #fff;
    border: 2px solid #e1670e;
  }

  .card-right__item {
    padding: 0;
    display: flex;
    flex-direction: column;

    border: none;
  }

  .card-right__background {
    min-width: 74px;
    min-height: 59px;

    margin-bottom: 2px;
  }

  .right-item__strong {
    margin-bottom: 4px;

    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .right-item__text {
    width: 100%;

    font-size: 14px;
    line-height: 28px;
  }

  /* How we work */
  .how-we-work {
    margin-bottom: 60px;
  }

  .how-we-work__container {
    padding-right: 6px;
  }

  .section-h2__how-we-work {
    margin-bottom: 20px;
  }

  .how-we-work__list {
    margin-bottom: 16px;
  }

  .how-we-work__nav-link {
    font-size: 14px;
    line-height: 17px;
  }

  .how-we-work__img-block {
    margin-bottom: 10px;
  }

  .how-we-work__img {
    min-height: 160px;
    max-height: 160px;
    max-width: 290px;

    border-radius: 16px;
  }

  .how-we-work__strong {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how-we-work-paragraphs {
    margin-bottom: 20px;
  }

  .how-we-work__text {
    width: 100%;

    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work__btn-more-detailed {
    margin-right: 5px;
    padding: 12px 44px;

    font-size: 12px;
    line-height: 15px;

    border-radius: 8px;
  }

  .how-we-work__btn-contract {
    padding: 12px 32px;

    font-size: 12px;
    line-height: 15px;

    border-radius: 8px;
  }

  /* Questions */
  .questions {
    margin-bottom: 63px;
  }

  .section-h2__questions {
    margin-bottom: 18px;
  }

  .question__strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .question__text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .question__svg {
    width: 30px;
    height: 30px;

    margin-right: 0;
  }

  /* Footer */
  .footer {
    padding: 33px 0;
  }

  .footer__center {
    margin-bottom: -7px;
  }

  .footer__h2 {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 29px;
  }

  .footer__form {
    min-width: 290px;
    align-items: flex-start;
  }

  .form-item__input {
    padding: 0 20px;
    min-width: 350px;

    font-size: 14px;
    line-height: 32px;
  }

  .form-item__input-message {
    padding-top: 13px;
  }

  .form__item:nth-child(4) {
    margin-bottom: 20px;
  }

  .btn-submit {
    padding: 12px 28px;
    margin-left: 55px;

    font-size: 12px;
    line-height: 15px;

    border-radius: 8px;
  }

  .footer__left {
    width: 60%;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .social__item-svg {
    height: 40px;
    width: 40px;
  }

  .footer-social__item:not(:last-child) {
    margin: 0 21.5px;
  }
}

@media (max-width: 365px) {
  .form-item__input {
    min-width: 290px;
  }

  .footer__logo {
    margin-bottom: -7px;
  }

  .footer__left {
    margin: 0 auto;
  }
}
